Package: com.rave.onetapclear
Name: OneTapClear
Depends: mobilesubstrate (>= 0.9.6000), firmware (>= 8)
Version: 1.3
Architecture: iphoneos-arm
Description: Clear notifications from the NC with a single tap.
Maintainer: Jacob Rave <ravejacob@gmail.com>
Author: Jacob Rave <ravejacob@gmail.com>
Section: Tweaks
