Package: com.rave.onetapclear
Name: OneTapClear
Depends: mobilesubstrate, firmware (>= 8)
Version: 1.1
Architecture: iphoneos-arm
Description: Clear notifications from the NC with a single tap.
Maintainer: Jacob Rave <ravejacob+onetapclear@gmail.com>
Author: Jacob Rave <ravejacob+onetapclear@gmail.com>
Section: Tweaks
